/*Logo Style*/
.logo {
        display: block;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

/*General Body Style*/
body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font-family: 'Josefin Sans';
    background-color: #e9e9e9;
}

/*General Section Style*/
section{
    width: auto;
    float: left;
    padding: 50px;
    font-size: 21px;
    background-color: white;
}

/*Header Navigation Bar*/
ul {
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    li, a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        font-size: 30px;
        padding: 30px;
        text-decoration: none;
    }
}

/*Header Container*/
.container {
    max-width: auto;
    display: flex;
    padding: 0;
    margin: 0;
}

/*Heading Container*/
.container1 {
    width: auto;
    display: flex;
    margin: 0;

    section {
        margin: 0;
        padding: 0 0 40px 30px;
    }

    .right {
        padding-right: 40px;
    }
}

/*Albums Container*/
.container2 {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50%;
    }

    section {
        padding: 0;

        img {
            width: 100%;
            display: block;
        }
    }
}

/*Author Container*/
.container3 {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    section {
        order: 1;
        width: auto;
        justify-content: center;
        padding: 0;

        p {
            text-align: left;
        }
    }

    .author {
        margin-top: 30px;
        padding: 0;
    }

    h2 {
        text-align: center;
    }

    img {
        width: 200px;
        border-radius: 50%;
        padding-left: 0;
    }
}

/*Text Styles*/
h1 {
    font-size: 5em;
    font-family: 'Protest Guerrilla';
    margin: 0 auto 0 auto;
}

h2 {
    font-size: 2em;
    font-family: 'Protest Guerrilla';
    margin: 0 auto 20px auto;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 auto 10px auto;
}

p {
    margin-top: 0;
    font-size: 20px;
}

/*Footer Style*/
footer {
    background-color: #14181d;
    color: white;
    text-align: center;
    padding: 50px 50px 30px 50px;
}

/*Screen Width for Desktop*/
@media screen and (min-width:1024px) {
    section {
        width: 100%;
    }

    .container3 {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

        section {
            order: 1;
            justify-content: center;
            padding-right: 0;
            padding-left: 10%;
            gap: 0;

            p {
                text-align: left;
            }
        }

        .author {
            order: 2;
            padding-left: 0;
            margin: 40px;
            padding-right: 30px;
        }

        h2 {
            text-align: center;
        }

        img {
            width: 200px;
            border-radius: 50%;
            padding-left: 0;
        }
    }
}

/*Screen Width for Tablet*/
@media screen and (min-width:710px) and (max-width:1020px) {
    .logo {
        width: 80px;
    }
    
    body {
        margin: 20px;
        padding: 20px;
    }

    section {
        width: 100%;
    }

    ul li, ul a {
        width: auto;
        font-size: 20px;
        padding: 18px;
    }

    .container {
        width: 100%;
        display: flex;
        padding: 0;
        margin: 0;
    }

    h1, h2, .oh2 {
        font-size: 3em;
        text-align: center;
    }

    h3 {
        font-size: 15px;
    }

    p {
        padding: 20px;
        font-size: 0.55em;
    }

    .container1 {
        width: 100%;
        flex-direction: column; 

        section {
            width: auto;
            padding: 20px;
            
            .oh2 {
                padding-top: 20px;
            }

            p {
                padding-top: 0;
                padding-bottom: 0;
                margin: 0;
                font-size: 15px;
            }

            .show-mobile {
                display: inline;
            }

            .desktop-only {
                display: none;
            }
        }   
    }

    .container2 {
        padding-top: 50px;
        background-color: white;

        img[alt="Eulogy For Evolution"] {
            display: none;
        }
    }

    .container3 {
        section {
            order: 1;
            padding-left: 3%;
        }

        p {
            font-size: 15px;
            padding-bottom: 0;
        }

        img {
            width: 250px;
            border-radius: 50%;
        }

        .author {
            order: 2;
            padding-left: 0;
            padding-right: 0;
        }
    }

    footer {
    background-color: #14181d;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 40px 30px 20px 30px;
    }
}

/*Screen Width for Large Mobile*/
@media screen and (min-width:530px) and (max-width:700px) {
    .logo {
        width: 80px;
    }

    body {
        margin: 15px;
        padding: 15px;
    }

    section {
        width: auto;
        padding: 20px;
        font-size: 21px;
        background-color: white;
    }

    ul li, ul a {
        width: auto;
        font-size: 20px;
        padding: 15px;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    h1, h2, .oh2 {
        font-size: 2.5em;
        text-align: center;
    }

    h3 {
        font-size: 15px;
        padding: 15px;
    }

    p {
        padding: 15px;
        font-size: 0.55em;
    }

    .container1 {
        width: 100%;
        flex-direction: column; 

        section {
            width: auto;
            padding: 15px 15px 0 15px;
            
            .oh2 {
                padding-top: 15px;
            }

            p {
                padding-top: 0;
                padding-bottom: 0;
                margin: 0;
                font-size: 15px;
            }
        }   
    }

    .container2 {
        flex-direction: column; 
        padding-top: 50px;
        background-color: white;

        img[alt="Eulogy For Evolution"] {
            display: none;
        }
    }

    .container3 {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;

        section {
            padding: 0;
            width: 90%;
        }

        p {
            font-size: 15px;
        }

        h2 {
            padding-top: 15px;
        }

        img {
            justify-content: center;
            width: 250px;
            border-radius: 50%;
        }

        .author {
            padding-left: 0;
            padding-right: 0;
        }
    }

    footer {
    background-color: #14181d;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 40px 40px 20px 30px;
    }
}

/*Screen Width for Small Mobile*/
@media screen and (min-width:300px) and (max-width: 520px) {
    .logo {
        width: 80px;
    }

    body {
        margin: 15px;
        padding: 15px;
    }

    section {
        width: auto;
        padding: 20px;
        font-size: 21px;
        background-color: white;
    }

    ul li, ul a {
        width: auto;
        font-size: 15px;
        padding: 6.5px;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    h1, h2, .oh2 {
        font-size: 2em;
        text-align: center;
    }

    h3 {
        font-size: 15px;
        padding: 15px;
    }

    p {
        padding: 15px;
        font-size: 0.55em;
    }

    .container1 {
        width: 100%;
        flex-direction: column; 

        section {
            width: auto;
            padding: 15px 15px 0 15px;
            
            .oh2 {
                padding-top: 15px;
            }

            p {
                padding-top: 0;
                padding-bottom: 0;
                margin: 0;
                font-size: 15px;
            }
        }   
    }

    .container2 {
        flex-direction: column; 
        padding-top: 50px;
        background-color: white;

        img[alt="Eulogy For Evolution"] {
            display: none;
        }
    }

    .container3 {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;

        section {
            padding: 0;
            width: 90%;
        }

        p {
            font-size: 15px;
        }

        h2 {
            padding-top: 15px;
        }

        img {
            justify-content: center;
            width: 150px;
            border-radius: 50%;
        }

        .author {
            padding-left: 0;
            padding-right: 0;
        }
    }

    footer {
    background-color: #14181d;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 40px 40px 20px 30px;
    }
}